@import "../common/common.less";
.container{
    .generic_form{
        max-width: 640px;
        padding: 0px;
        #confrence_form{
            padding: 20px;
        }
        #add_confrence_form{
            padding: 20px;
        }
        #book_form{
            padding: 20px;
        }
        #add_book_form{
            padding: 20px;
        }
        .form-title{
            background: #1e2278;
            padding: 12px;
            color: #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-size: 21px;
        }
        .label{
            padding-left: 5px;
            padding-bottom: 5px;
        }
    }
        .main-bar{
            margin-bottom: 30px;
        }
        .heading{
            padding-left: 40%;
        }
}
